.image-gallery-content:not(.fullscreen)
  .image-gallery-slide
  .image-gallery-image {
  max-height: 600px;
}

.image-gallery-description {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}
